*{
  box-sizing: border-box;
}

:root{
  --gutterSize: 0.5rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutterSize) * -1);
  margin-right: calc(var(--gutterSize) * -1);
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
  padding-left: var(--gutterSize);
  padding-right: var(--gutterSize);
}


.col-1 {
  --size: calc(100% / 12 * 1);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-2 {
  --size: calc(100% / 12 * 2);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-3 {
  --size: calc(100% / 12 * 3);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-4 {
  --size: calc(100% / 12 * 4);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-5 {
  --size: calc(100% / 12 * 5);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-6 {
  --size: calc(100% / 12 * 6);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-7 {
  --size: calc(100% / 12 * 7);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-8 {
  --size: calc(100% / 12 * 8);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-9 {
  --size: calc(100% / 12 * 9);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-10 {
  --size: calc(100% / 12 * 10);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-11 {
  --size: calc(100% / 12 * 11);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-12 {
  --size: calc(100% / 12 * 12);
  flex-basis: var(--size);
  max-width: var(--size);
}
