@import "./reset.css";
@import "./grid.css";

* {
  box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
  font-size: larger;
  text-transform: uppercase;
  text-align: center;
}

p{
  font-family: sans-serif;
  font-size: medium;
color: gray;
}